.header-page {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}

.actions {
  display: flex;
  gap: 8px;
}

.btn {
  width: 150px;
}

hr {
  margin: 32px 0;
  border-color: #1f2f6f24;
  border-width: 0.35px;
}