.card {
  width: 150px;
  height: auto;
  padding: 24px 16px;
  box-shadow: 0px 2px 8px 0px #1f2f6f;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
