.card {
  width: 325px;
  height: 125px;
  padding: 24px 16px;
  box-shadow: 0px 2px 8px 0px #1f2f6f;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > h3 {
  font-size: 28px;
  font-weight: 300;
  color: #9b9bb0;
}


.card > h3 > small {
  font-size: 10px;
}

.card > p {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  color: #1f2f6f;
}

small {
  color: #9b9bb0;
}