.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #1f2f6f;
}

.card {
  background-color: #fcfcfc;
  width: 350px;
  height: 10%%;
}