
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  background-color: #fcfcfc;
  box-shadow: 1px 4px 10px 1px #1f2f6f;

  padding: 0 16px;
}

.logo {
  width: 210px;
}