.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  font-size: 14px;

  transition: all 0.2s ease;
}

.btn-primary {
  background-color: #101842;
  color: #fcfcfc;

}

.btn-secundary {
  background-color: #fcfcfc;
  color: #101842;
  border: 1px solid #101842;
}

.btn-primary:hover {
  filter: opacity(0.9);
}

.btn-secundary:hover {
  filter: brightness(0.9);
}